[Unit]
Description=Lanza el nodo supervisor del rover
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ujiroboticsteam/ERC2024
ExecStart=/home/ujiroboticsteam/ERC2024/startup_scripts/start_supervisor.sh
Restart=always
RestartSec=5
User=ujirobotics

[Install]
WantedBy=multi-user.target
