[Unit]
Description=Monitorea y gestiona la conexión a Internet
After=network.target

[Service]
Type=simple
ExecStart=/home/ujiroboticsteam/ERC2024/startup_scripts/internet_connection.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
